.footer_content {
    color: #FEFCC5;
    font-size: 9pt;
    
}
.tobottom{
    margin-top: 20%;
    height: 400px;
}
.link_footer {
    text-decoration: none;
    color: #FEFCC5;
    font-weight: 800;
    font-size: 10pt;
    }


.footer_info {
    text-align: center;
}