.green{
    background-color: #7EB04C;
}


.margin-top-25px{
    margin-top: 25px;
}
.margin-top-15px{
    margin-top: 15px;
}
.margin-top-10px{
    margin-top: 10px;
}








/*
.header{
    display: inline-block;
    width: 100%;
    box-shadow: 0px 1px 10px 1px #333333;
    color: white;
}
.inline{
    display: inline-block;
}

.search{
    width: 70%;
    margin-top: 10px;
    float: right;
    box-shadow: 0px 1px 2px 0px #333333;

}

.header .icon{
    margin-top: 6px;
}

.search input{
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    height: 40px;
    width: 100%;
}

.logo_mobile{
    width: 10%;
    text-align: center;
    float: left;
    margin-left: 10px;
}
.right{
    float: right;
    margin-right: 10px; 
}
.left{
    margin-left: 4px;
    float: left;
}

.logo_mobile img{
    max-width: 60px;
    margin-top: 6px;
}
.logo_search{
    width: 70%;
}*/