<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
<!--parte 1-->
        <div class="registro row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Registro</h2>
            </div>
            <div class="col-sm"></div>
        </div>
<!-- -->
<!--parte 2-->
        
<!-- -->
<!--parte 3-->
        <br>       
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">           
                <form action="">
                    <div><text class="error_text">
                       <p>Texto para el error de usuario, contraseña... </p>
                    </text></div>
                    <label for="input1">Nombre de usuario(*)</label>
                    <input type="text" id="input1">
                    <label for="input2">Constraseña8(*)</label>
                    <input type="password" id="input2">
                    <label for="input3">Confirmar contraseña(*)</label>
                    <input type="password" id="input3">
                    <label for="input4">Corrreo electrónico(*)</label>
                    <input type="text" id="input4">
                    <label for="input5">Nombre y apellidos(*)</label>
                    <input type="text" id="input5">              
                </form>
            </div>   
            <div class="col-sm"></div>
        </div>
<!-- -->
<!--parte 4-->
        <br>   
        <div class="obligatorio row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <p>(*) Campos obligatorios</p>
            </div>
            <div class="col-sm"></div>
        </div>
<!-- --> 
<!--parte 5-->          
        <div class="fotoperfil row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <i></i>
                
                <a href="">Inserte aqui su foto de perfil</a>
            </div>
            <div class="col-sm"></div>
        </div>
        
        
        
        
        
        
        
        
        
        
    </div>
    
</body>

</html>
